<div class="container">
    <h2>Manage Your League - {{leagueName}}</h2>

    <div class="panel-group" id="accordion">
    {{#each episodeRuleMap}}
        {{@index}}: {{this}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Episode {{@index}}</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">  <div class="row clearfix">
                    <div class="col-md-12 column">
                        <form method="post" action="/manageLeague/{{leagueId}}">

                                <select id="contestantsSelect" class="form-control" style="display:none;">
                                    {{#each contestants}}
                                        <option value={{this.id}} {{#if_equals this.id @../contestant }}selected{{/if_equals}}>{{this.name}}</option>
                                    {{/each}}
                                </select>

                                <select id="leagueRulesSelect" class="form-control" style="display:none;">
                                    {{#each leagueRules}}
                                        <option value={{this.leagueRuleId}}>{{this.leagueRule}} - {{this.rulePoints}} points</option>
                                    {{/each}}
                                </select>

                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                <tr >
                                    <th class="text-center">
                                        Contestant
                                    </th>
                                    <th class="text-center">
                                        Rule Description & Points
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each this}}
                                    <tr id='manage0'>
                                        <td>

                                            <select name="contestants" id="contestants" class="contestants form-control">
                                             {{#each contestants}}
                                                 <option value={{this.id}} {{#if_equals this.id @../contestant }}selected{{/if_equals}}>{{this.name}}</option>
                                            {{/each}}
                                            </select>
                                        </td>
                                        <td>

                                            <select name="leagueRules" id="leagueRules" class=" leagueRulesform-control">
                                                {{#each leagueRules}}
                                                    <option value={{this.leagueRuleId}}>{{this.leagueRule}} - {{this.rulePoints}} points</option>
                                                {{/each}}
                                            </select>
                                        </td>
                                    </tr>
                                {{/each}}
                                <tr id='manage1'></tr>
                                </tbody>
                            </table>
                            <input type="submit" id="save" class="btn btn-primary pull-left" value="Save Episode Data" />
                            <a id='delete_contestant_row' class="pull-right btn btn-default">Delete Row</a>
                            <a id="add_contestant_row" class="pull-right btn btn-default">Add a Contestant</a>
                        </form>
                    </div>
                </div></div>
            </div>
        </div>

    {{/each}}

    </div>
</div>